<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Categoria One</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="../controller/ctrl.js"></script>
        <script src="../vendor/json/products.json"></script>
    </head>
    <body ng-app="myApp" ng-controller="recuperarJson">
        <p class="title"><font size="6" face="sans-serif"><b>ELETRÔNICOS</b></font></p>
        <!--div class="container" ng-app="myApp">
            
            <div class="row" >
                <div ng-repeat="cat in categoryOne" class="col-sm-3 col-md-3 col-lg-3 col-xl-3 produto">
                    <img ng-src="{{cat.url}}" alt="{{cat.name}}" class="pull.rigth"/>
                    <p class="name"><b>{{cat.app_name}}</b></p>
                    <p class="price">{{cat.price}}</p>
                </div>                
            </div>
        </div--> 
        <iframe src="../view/header.html"></iframe>
            
            <table class="produto" ng-repeat="cat in categoryOne">
            <tr>
                <td><img ng-src="{{cat.url}}" alt="{{cat.name}}"/></td>
            </tr>
            <tr>
                <td><span class="name"><b>{{cat.app_name}}</b></span></td>
            </tr>
            <tr>
                <td><span class="price">{{cat.price}}</span></td>
            </tr>
            </table>
        
    </body>
</html>
