<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>Categoria Two</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
        <script src="../controller/ctrl.js"></script>
        <script src="../vendor/json/products.json"></script>
    </head>
    <body ng-controller="recuperarJson">
        <p class="title"><font size="5" face="sans-serif"><b>Categoria 2</b></font></p>        
        <iframe src="../view/header.html"></iframe>
        
        <table class="produto" ng-repeat="cat in categoryTwo">
            <tr>
                <td><img ng-src="{{cat.url}}" alt="{{cat.name}}"/></td>
            </tr>
            <tr>
                <td><span class="name"><b>{{cat.app_name}}</b></span></td>
            </tr>
            <tr>
                <td><span class="price">{{cat.price}}</span></td>
            </tr>
        </table>
    </body>
</html>
