<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
    <head>
        <title>Catálogo de Compras</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
    </head>
         
    <body>
            <!--header class="navbar flex-column flex-md-row bd-navbar">                
                <span>LOGO</span>  
                <form class="form-inline my-2 my-lg">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                        
                <button class="btn btn-default"> 
                    SIGN IN
                </button>  

                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-lock"></span>  
                </button> 

                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-globe"></span>  
                </button> 

            </header--> 
        
            <div class="container-fluid">
                <div class="row menor">
                    <div class="col-sm-2">
                        <span>LOGO</span> 
                    </div>
                    
                    <div class="col-sm-4 search">
                        <form class="form-inline my-2 my-lg">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                      
                    <div class="col-sm-2 menor">
                        <button class="btn btn-default"> 
                            SIGN IN
                        </button>  
                    </div>

                    <div class="col-sm-2 icone">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-lock"></span>  
                        </button> 
                    </div>

                    <div class="col-sm-2 icone">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-globe"></span>  
                        </button>
                    </div>
                </div>
            </div>
        
            <nav class="navbar navbar-dark bg-dark">
                <!--div id="categoria1" class="col-sm-2 fun-border"-->
                <a class="navbar-brand" href="category_one.html" target="_blank">Eletrônicos</a>
            
                <a class="navbar-brand" href="category_two.html" target="_blank">Categoria 2</a>
            </nav>
            <nav class="navbar navbar-dark bg-dark">
               <div class="col-sm-1">
                    <span>Sort By</span>
                </div> 
                <div class="col-sm-4">
                    <select name="select">
                        <option value="valor1">A-Z</option> 
                        <option value="valor2" selected>B-D</option>
                        <option value="valor3">E-T</option>
                    </select>
                </div> 
            </nav>
                
    </body>
</html>
