<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Select Item</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="../vendor/json/products.json"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../controller/ctrl.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="recuperarJson">
        <iframe src="../view/header.html"></iframe>
        <div>          
            <img ng-src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11950690_308991979224936_345640148_n.jpg" target="_self" alt="teste" />           
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                        <div class="page-header">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab1" data-toggle="tab">Descrição</a></li>
                                        <li><a href="#tab2" data-toggle="tab">Detalhes</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <p>{{recebe.description}}</p>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <p>{{recebe.details}}</p>
                                        </div>
                                    </div>
                                </div>
                      </div>
                </div>
            </div>
        </div>
    </body>
</html>
